.main-container {
    border: 1px solid black;
    height: 80px;
    background-color: lightcoral;
}

.date {
    position: absolute;
    margin-left: 12px;
    margin-top: 10px;
    font-weight: bold;
}

.title {
    position: absolute;
    margin-left: 200px;
    margin-top: 5px;
    color: white;
}

.amount {
    position: absolute;
    left: 900px;
    margin-top: 22px;
    font-size: larger;
    border: 1px solid white;
    padding: 5px;
    border-radius: 15px;
    background-color: blueviolet;
    color: white;
}